<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{fragments/head :: head ('EDM-FEST - Home')}"></head>

<body class="d-flex flex-column min-vh-100 bg-dark text-light">

<header th:replace="~{fragments/header :: header}"></header>

<main class="flex-grow-1">
    <div class="container">
        <h1 class="mt-5">EDM-FEST</h1>
        <p class="lead">Festival Data Management</p>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>

</html>